:root{
    --bgcolour: #dce8f1f2}

header{
    position: fixed; /* Ustawienie pozycji na fixed */
    top: 0; /* Ustawienie pozycji od góry */
    left: 0; /* Ustawienie pozycji od lewej */
    width: 100%; /* Szerokość nagłówka na 100% */
    z-index: 1000;
    background-color: rgba(108, 163, 199, 0.7);
    background: rgb(9, 111, 121);
    background: rgb(59, 72, 144);
    background: linear-gradient(0deg, rgba(59, 72, 144, 1) 0%, rgba(29, 124, 253, 1) 54%, rgba(59, 72, 144, 0.6) 100%);
    height: 100px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.658);
}

p{
    font-family: "PT Sans Narrow", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
}

h2{
    font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-style:italic;
        font-size: 30px;
}

.ss-main{
    border: 3px solid #1648ac75;
    background-color: #263bce00;
    border-radius: 15px;
    height: 30px;
    transition: border-color 0.5s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
    background-color: var(--bgcolour);
}

.ss-list{
    background-color: #e6f2fb
}

.ss-content{
    background-color: #e6f2fb;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
}

.ss-list::-webkit-scrollbar {
    width: 5px;
    background-color: hsla(240, 78%, 55%, 0.437);
    border-radius: 50%;
}

.ss-list::-webkit-scrollbar-thumb {
    border-radius: 10%;
    border-top: 20px  solid rgb(0, 26, 255)
}

.ss-main:hover{
    border-color: #0d58eee1;
}

button{
    background-color: #263bce00;
    border: 3px solid #1648ac75;
    border-radius: 15px;
    height: 30px;
    cursor: pointer;
    transition: border-color 0.5s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);  
    background-color: var(--bgcolour);
}

.button:hover{
    border-color: #0d58eee1;
}


.regression-button{
  transition: border-color 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  
}

.regression-button:hover{
    border-color: #0d58eee1;
}

.add-fav-button:hover{
    border-color: #0d58eee1;
}


input{
    background-color: #263bce00;
    border: 3px solid #1648ac75;
    border-radius: 100px;
    height: 22px;
    transition: border-color 0.5s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
    background-color: var(--bgcolour);
}

input:hover{
    border-color: #0d58eee1;
}

input:focus{
    border-color: #0d58eee1;
}

body{
margin: 0 auto;
background-image: url('../Img/144025-blue-and-white-square-lines-background-vector-art.jpg');
background-size: cover;



} 

.main-div{
    padding-top: 100px;
    max-width: 1000px;
    margin:  40px auto;
}

canvas{
    background-color: (--bgcolour);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
}

.flatpickr-calendar.open{
    border-color: #0d58eee1;
}

.flatpickr-days:not(.flatpickr-day){
    background-color: #41b3cd33
}

.flatpickr-day{
    opacity: 1;
}

.flatpickr-day:nth-child(7n+1),
.flatpickr-day:nth-child(7n+7) {
    color: red;
}

.flatpickr-calendar .flatpickr-day.prevMonthDay{
    color: rgba(57, 57, 57, 0.3);
}

.flatpickr-day.flatpickr-disabled {
    color: rgba(57, 57, 57, 0.1)
}

.flatpickr-day.nextMonthDay{
    color: rgba(57, 57, 57, 0.1)
}

.tickers-div{
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
    gap: 10px;
    
    
}


.buttons-div{
    justify-content: center;
        display: flex;
        padding-bottom: 10px;
        gap: 10px;
        
}

.mainNews{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
    
}

.newsDiv{
    width: 465px;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left:14px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 3px -1px 14px 0px #0000001a, 0 1px 3px #00000014;
    background-color: var(--bgcolour);
    border-radius: 30px;
}

.newsDiv:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3%;
    width: 6px;
    /* szerokość linii */
    background-color: black;
    /* kolor linii */
    border-radius: 50%;
    background-color: hsla(240, 78%, 55%, 0.437);
    margin-left: 15px;
}



.newsDiv::-webkit-scrollbar {
    width: 5px;
    background-color: hsla(240, 78%, 55%, 0.437);
    border-radius: 50%;
}


.newsDiv::-webkit-scrollbar-thumb {
    border-radius: 10%;
    border-top: 20px  solid rgb(0, 26, 255)
}

.news-paragraph{
      padding-bottom: 10px;
}

.div-afterp{
    min-height: 10px;
    
}

.short-data{
    margin: 0 auto;
    padding-top: 5px;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    
   
}

.short-data-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.delete-button{
    border-style: none;
    box-shadow: none;
    color: #c30000;
    font-size: 25px;
    background-color: inherit;
    
}

.single-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-paragraph{
    margin:0;
    padding: 2px;
    font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: rgb(230, 230, 240);
}

.value-plus{
    color: rgb(135, 196, 135);
}

.value-minus {
    color: rgb(236, 124, 124);

}

.chart-div{
    background-color: var(--bgcolour);
    border-radius: 20px;
}

.data-and-chart{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-top:10px;
    gap: 35px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#currentData{
    min-width: 200px;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--bgcolour)
}

.pChange{
    display: flex;
    justify-content: center;
}

.historical-data{
    display: flex;
    flex-direction: column;
}

.ticker-data{
    display: flex;
    justify-content: space-between;
}

historical-paragraph-date{
    font-size: 18px;
    margin-bottom: 5px;
}

.historical-paragraph{
    margin:2px;
    font-size: 15px;
}

@media screen and (max-width: 420px) {
    .main-div{
        max-width: 350px;
        margin: auto 20px;
    }
    .tickers-div{
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        padding-bottom: 15px;
    }

    .select1{
        width: 320px;
        font-size: 20px;
        margin-bottom: 15px;
        background-color: var(--bgcolour);
    }

     .select2{
        width: 320px;
        font-size: 20px;  
        background-color: var(--bgcolour);
    }

    .buttons-div{
        max-width: 350px;
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    canvas{
        height: 200px;
        width: 320px;
    }
}
