header{
    background-color: rgba(0, 0, 255, 0.623);
    height: 100px;
}

body{
    margin: 0 auto;
    
}

.main-div{
    max-width: 1200px;
    margin:  20px auto;
}

canvas{
    width: 1200px;
}

.flatpickr-days:not(.flatpickr-day){
    background-color: #89b4f9;
}

.flatpickr-day{
    opacity: 1;
}

.flatpickr-day:nth-child(7n+1),
.flatpickr-day:nth-child(7n+7) {
    color: red;
}

.flatpickr-calendar .flatpickr-day.prevMonthDay{
    color: rgba(57, 57, 57, 0.3);
}

.flatpickr-day.flatpickr-disabled {
    color: rgba(57, 57, 57, 0.1)
}

.flatpickr-day.nextMonthDay{
    color: rgba(57, 57, 57, 0.1)
}

.tickers-div{
    display: flex;
}

@media screen and (max-width: 420px) {
    .main-div{
        max-width: 350px;
        margin: auto 20px;
    }
    .tickers-div{
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        padding-bottom: 15px;
    }

    .select1{
        width: 320px;
        font-size: 20px;
        margin-bottom: 15px;
    }

     .select2{
        width: 320px;
        font-size: 20px;  
    }

    .buttons-div{
        max-width: 350px;
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
